@import '../global.sass'

.services
    max-width: $laptop
    margin: 0 auto
    padding: 5rem 2rem 2rem 2rem

    h1
        padding: 0 2rem 0 0
        font-family: 'poppins'

    h2
        &::before
            content: ''
            display: block
            height: 5rem
            margin-top: -5rem
            visibility: hidden

    p
        font-size: .85rem

        &:last-child
            margin-bottom: 6rem
