@import '../global.sass'

.header
    width: 100%
    top: 0
    z-index: 1
    height: 4rem
    padding: .5rem 0
    position: fixed
    display: flex
    align-items: center
    transition: all ease 150ms
    padding: 0 2rem

    &--scrolled
        height: 3.2rem
        background-color: #fff
        -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.25)
        -moz-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.25)
        box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.25)

    &__content
        width: 100%
        margin: 0 auto
        max-width: 1080px
        display: flex
        align-items: center
        position: relative

        .logo
            &--scrolled
                height: 45px !important
                width: 60px !important

    &__nav-toggle
        position: absolute !important
        top: -9999px !important
        left: -9999px !important

        &:focus ~ .nav-toggle-label
            outline: 5px auto rgba(0, 150, 255, 1)

    .nav-toggle-label
        position: absolute
        right: 0
        top: 0
        height: 100%
        display: flex
        align-items: center
        cursor: pointer

        @media (min-width: $tablet)
            display: none

        & span,
        & span::before,
        & span::after
            display: block
            background: #4f4f4f
            height: 3px
            width: 2em
            border-radius: 3px
            position: relative

        & span::before,
        & span::after
            content: ''
            position: absolute

        & span::before
            bottom: 9px

        & span::after
            top: 9px

    .nav-toggle:checked ~ nav
        transform: scale(1,1)

    .nav-toggle:checked ~ nav a
        opacity: 1
        transition: opacity 250ms ease-in-out 250ms

    &__menu
        margin: 0
        display: flex
        align-items: center
        position: absolute
        right: 0
        top: 0
        height: 100%

        li
            margin: 0
            font-size: .75rem
            list-style-type: none
            margin: 0 1rem

            @media (max-width: $tablet)
                display: none

            a
                opacity: 1
                color: #9b9b9b
                text-decoration: none
                text-transform: uppercase
                transition: color .25s ease-out
                font-weight: 600
                position: relative

                &:not(.btn-border)
                    &::before
                        content: ''
                        display: block
                        height: 2px
                        background-color: #7b7b7b
                        position: absolute
                        bottom: -.5em
                        left: 0
                        right: 0
                        transform: scale(0,1)
                        transition: transform ease-in-out 250ms
                        border-radius: 4px

                &:hover
                    color: #2b2b2b

                    &::before
                        transform: scale(1,1)

                &.active
                    color: #4f4f4f
