// Colors

/* SCSS HEX */
$nyanza: #d6f8d6ff
$eton-blue: #7fc6a4ff
$cadet: #5d737eff
$dark-liver: #55505cff
$lemon-yellow: #faf33eff

//breakpoints

$desktop: 1200px
$laptop: 1024px
$tablet: 768px
$phone: 480px

// buttons

.btn
    background-color: $dark-liver
    text-decoration: none
    padding: .5em 1.5em
    color: white
    text-transform: uppercase
    transition: all 250ms
    font-size: .9rem

    &:hover
        background-color: transparent
        color: $dark-liver
        outline: 3px solid $dark-liver
        outline-offset: -3px

.btn-border
    padding: .5rem .75rem
    border: 1px solid #ebebeb

    &:hover
        background: #eeeeee
        border: 1px solid #eeeeee
        transition: all ease-in-out 250ms

.text_block
    h1
        font-family: 'Dancing Script', cursive
        color: #f0007c
        line-height: 2.5ch
        font-size: clamp(1.75rem ,4vw, 4rem)

        span
            display: block

    h2
        font-size: clamp(1.25rem ,4vw, 3rem)

    p
        font-family: 'Source Sans Pro'
        color: #4f4f4f
        line-height: 3ch
        letter-spacing: .01ch
        font-size: clamp(1.15rem, 1.75vw, 1.4rem)

        &:last-of-type
            margin-bottom: 2em
