@import '../global.sass'

.motivation
    width: 100%
    background-color: $lemon-yellow
    margin: 2rem 0
    padding: 1em

    &__content
        margin: 0 auto
        max-width: $laptop
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 5rem 0

        p
            text-align: center
            padding: 0
            margin: 0
