@import '../global.sass'

.motivation
    width: 100%
    background-color: $lemon-yellow
    margin: 2rem 0
    padding: 1em
    font-size: 1.5rem

    &__content
        margin: 0 auto
        max-width: $laptop
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 5rem 0

        @media screen and ( max-width: $tablet )
            padding: 3rem 0

        h2
            font-size: 1.15em
            text-align: center
            font-family: 'poppins'

        p
            text-align: center
            padding: 0
            margin: 0
            font-size: .8em
