@import '../global.sass'

.bio-secondary
    &__content
        background-image: url('../../images/jo1.jpg')
        background-repeat: no-repeat
        background-size: contain
        background-position-x: left
        margin: 0 auto
        display: flex
        justify-content: space-between
        max-width: 1080px
        padding: 4rem 0 2rem 0
        z-index: 1

    &__text
        padding: 6rem 0
        font-size: .8rem
        width: 50%
        left: 50%
        position: relative

        h1,h2
            font-family: 'Dancing Script', cursive
            color: #f0007c
            font-size: 3rem
            span
                display: block

    &__description
        color: #222222
        font-size: .9rem
