@import '../global.sass'

.bio-secondary

    padding: 2rem

    &--background
        background-image: url('../../images/jo4.jpg')
        background-repeat: no-repeat
        background-size: cover
        background-position-x: center
        background-position-y: center

    &__content
        margin: 0 auto
        display: flex
        justify-content: space-between
        max-width: 1080px
        padding: 10rem 0 2rem 0
        z-index: 1

        &--right
            background-position-x: right
            background-image: url('../../images/jo3.jpg')
            background-repeat: no-repeat
            background-size: 50%
            background-position-x: right
            background-position-y: center

    &__text
        padding: 6rem 0
        font-size: .8rem
        width: 50%
        left: 50%
        position: relative

        &--right
            left: 0

        h1,h2
            font-family: 'Dancing Script', cursive
            color: #f0007c
            font-size: 3rem
            span
                display: block

    &__description
        color: #222222
        font-size: .9rem
